<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ encore_entry_link_tags('app') }}
    <title>Authentication | Saint Joseph's Workshop</title>
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
</head>
<body>

<section class="login-area">
    <div class="row m-0">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="login-image">
                <img src="{{ asset('images/login-bg.jpg') }}" alt="image">
            </div>
        </div>

        <div class="col-lg-6 col-md-12 p-0">
            <div class="login-content">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="login-form">
                            <div class="logo">
                                <a href="">
                                    <img src="{{ asset('images/logo.png') }}" width="200" alt="logo">
                                </a>
                            </div>
                            <h3>Welcome Back !</h3>
                            {% if error %}
                                <div class="mt-3 alert alert-danger">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}

                            <form action="{{ path('app_login') }}" method="POST">
                                <div class="form-group">
                                    <label for="email" class="d-none">Email</label>
                                    <input id="email" type="email" name="email" placeholder="Your email address"
                                           class="form-control" value="{{ last_username }}" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="d-none">Password</label>
                                    <input id="password" type="password" name="password" placeholder="Your password"
                                           required autocomplete="current-password" class="form-control">
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button type="submit" class="default-btn">
                                    <box-icon type='solid' name='hot'></box-icon>
                                    Login
                                    <span></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ encore_entry_script_tags('app') }}
</body>
</html>
